#nos-clients
    .automarge(style="margin-bottom: 30px;")
        h1 Nos clients
        h2 SSII
        .clients_container
            .client_inner
                .info
                    .logo
                    h3 DCS
                    p Description du client! 
                    a(href="http://google.fr",target="_blank") Lien vers leur site!
                .commerciaux
                    h4 Commerciaux
                    .avatar
                        img(src="/img/equipe/user.png")
                    .avatar
                        img(src="/img/equipe/user.png")
            .client_inner
                .info
                    h3 HELICE
                    p Description du client! 
                    a(href="http://google.fr") Lien vers leur site!
                .commerciaux
                    h4 Commerciaux
                    .avatar
                        img(src="/img/equipe/user.png")
                            
            .client_inner
                .info
                    h3 ALTEN
                    p Description du client! 
                    a(href="http://google.fr",target="_blank") Lien vers leur site!
        h2 Clients finaux
        .clients_container
            .client_inner
                .info
                    .logo
                    h3 DCS
                    p Description du client! 
                    a(href="http://google.fr",target="_blank") Lien vers leur site!
                .commerciaux
                    h4 Commerciaux
                    .avatar
                        img(src="/img/equipe/user.png")
                    .avatar
                        img(src="/img/equipe/user.png")
            .client_inner
                .info
                    h3 HELICE
                    p Description du client! 
                    a(href="http://google.fr",target="_blank") Lien vers leur site!
                .commerciaux
                    h4 Commerciaux
                    .avatar
                        img(src="/img/equipe/user.png")
                            
            .client_inner
                .info
                    h3 ALTEN
                    p Description du client! 
                    a(href="http://google.fr",target="_blank") Lien vers leur site!
