#accueil
    .automarge
        .polychromatic
            .logo
                img(src="/img/logo.png")
            h1 Polychromatic
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .tuiles
            h1 Nos prestations
            .tuiles_container
                .tuile.web
                    i(class="fa fa-globe")
                    p Web
                .tuile.supervision
                    i(class="fa fa-eye")
                    p Supervision
                .tuile.ERP
                    i(class="fa fa-users")
                    p ERP-CRM
            h1 Actualités
            .tuiles_container
                .news
                    .titre
                        strong Un titre ici !
                        span
                            p 28/08
                            p 2015
                    .intro
                        | Un texte d'une news ici !
                .news
                    .titre
                        strong Un titre ici !
                        span
                            p 28/08
                            p 2015
                    .intro
                        | Un texte d'une news ici !
                .news
                    .titre
                        strong Un titre ici !
                        span
                            p 28/08
                            p 2015
                    .intro
                        | Un texte d'une news ici !
                .news
                    .titre
                        strong Un titre ici !
                        span
                            p 28/08
                            p 2015
                    .intro
                        | Un texte d'une news ici !
