#nos-services
    .automarge
        h1 Nos services
        #services
            .service.web
                h2 Développement-Web
                p Une équipe d'élite tout droit venue du fin fond de la galaxie. Ils sont capablent d'intervenir dans les situations les plus extrêmes et de déamorcer toute problématique. Un binôme de choc !
                h3 Notre équipe : 
                .avatars
                    .avatar
                        img(src="/img/equipe/user.png")
                    .avatar
                        img(src="/img/equipe/user.png")
                h3 Notre champ d'action :
                .logos 
                    .logo
                        img(src="/img/webpng/angular.png")
                    .logo        
                        img(src="/img/webpng/nodejs.png")
                    .logo        
                        img(src="/img/webpng/css.png")
                    .logo        
                        img(src="/img/webpng/html.png")
                    .logo        
                        img(src="/img/webpng/javascript.png")
                    .logo        
                        img(src="/img/webpng/jquery.png")
                .savoir-plus
                    | En savoir plus
            .service.supervision
                h2 Supervision & Hypervision
                p Descendu tout droit de la planète Neko-San en pickup interstellaire, Ils viennent sur terre dans l'horrible but de contrôler le monde afin créer un énorme harem d'otaku!
                h3 Notre équipe : 
                .avatars
                    .avatar
                        img(src="/img/equipe/user.png")
                    .avatar
                        img(src="/img/equipe/user.png")
                h3 Notre champ d'action :
                ul
                    li CA Nimsoft
                    li ZABBIX
                    li IBM Tivoli
                .savoir-plus
                    | En savoir plus
            .service.ERP
                h2 ERP et CRM
                p Une équipe de fantôme, l'infiltration est leur point fort ! Nous ne possédons nous même aucune information sur cet équipe.
                h3 Notre équipe : 
                .avatars
                    .avatar
                        img(src="/img/equipe/user.png")
                    .avatar
                        img(src="/img/equipe/user.png")
                    .avatar
                        img(src="/img/equipe/user.png")
                h3 Notre champ d'action :
                ul
                    li People soft
                    li Siebel
                .savoir-plus
                    | En savoir plus
        //#cadre_container
            .cadre.reverse.web
                h2 Développement - Mobile & Web
                .stack
                    .technologies
                        ul
                            li NodeJS
                            li AngularJS
                            li HTML5
                            li CSS3
                            li SQL / MySQL
                    .equipe
                        .avatar
                            img(src="/img/equipe/user.png")
                        .avatar
                            img(src="/img/equipe/user.png")
                .description
                    | Une équipe de développeurs avec un talent sans égal ! Des génies ...
            .cadre.citrix
                h2 Citrix
            .cadre.reverse.supervision
                h2 Supervision & Hypervision
                .stack
                    .technologies
                        ul
                            li CA Nimsoft
                            li Zabbix
                            li IBM Tivoli
                    .equipe
                        .avatar
                            img(src="/img/equipe/user.png")
                        .avatar
                            img(src="/img/equipe/user.png")
                .description
                    | Des gars qu'on payent trop chère !
            .cadre.erp-crm
                h2 ERP / CRM
                .stack
                    .equipe.highter
                        .avatar
                            img(src="/img/equipe/user.png")
                        .avatar
                            img(src="/img/equipe/user.png")
        
            .circle-primary
                .barre-one
                .barre-two
                .item.one
                .item.two
                .item.three
                .item.four
            .circle-secondary
                p IT 360°
