doctype html
html(lang="fr",ng-app="myAPP")
  head
    link(rel="stylesheet",href="/css/fix.css",type="text/css")
    link(rel="stylesheet",href="/css/index.css",type="text/css",media="screen and (min-width: 640px)")
    link(rel="stylesheet",href="/css/index-mobile.css",type="text/css",media="screen and (max-width: 640px)")
    link(rel="stylesheet",href="/css/angular.css",type="text/css")
    link(rel="stylesheet",href="/lib/loading-bar.css",type="text/css")
    link(rel="stylesheet",href="/lib/animate.css",type="text/css")
    link(rel="stylesheet",href="/lib/roboto.css",type="text/css")
    link(rel="stylesheet",href="/lib/font-awesome.min.css",type="text/css")
    //[if lt IE 9]>link(rel="stylesheet",href="/css/ie.css",type="text/css")<![endif]
    base(href="/")
    title
        | Polychromatic
body(ng-controller="MainController as main")
    .background
    .viewport
        nav
            .centered
                .logo(ng-click="main.swap('home',1)")
                    img(src="/img/logo.png")
                ul
                    li(ng-class="{'active': main.path == '/home' || main.path == '/'}",ng-click="main.swap('home',1)")
                        i(class="fa fa-home")
                        p {{langue.accueil}}
                    li(ng-class="{'active':main.path == '/contact'}",ng-click="main.swap('contact',2)")
                        i(class="fa fa-envelope")
                        p {{langue.contact}}
                    li(ng-class="{'active':main.path == '/nos-services'}",ng-click="main.swap('nos-services',3)")
                        i(class="fa fa-cubes")
                        p {{langue.services}}
                    li(ng-class="{'active':main.path == '/clients'}",ng-click="main.swap('clients',4)")
                        i(class="fa fa-briefcase")
                        p {{langue.clients}}
                    li(ng-class="{'active':main.path == '/equipe'}",ng-click="main.swap('equipe',5)")
                        i(class="fa fa-users")
                        p {{langue.equipe}}
            .language
                p {{main.langage}}
                i(class="one fa fa-chevron-right")
                i(class="two fa fa-chevron-down")
                #menu_language
                    .menu
                        div(ng-click="main.changeLanguage('FR')") FR
                        div(ng-click="main.changeLanguage('EN')") EN
                        div(ng-click="main.changeLanguage('CH')") CH
        container
            .innerContainer(ng-view,ng-class="(animationDirection) ? 'up' : 'down' ")

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-cookies.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-touch.min.js")
    script(src='/js/loading-bar.js')
    script(src='/js/angular-smooth-scroll.min.js')
    script(src='/js/main.js')
