body {
    background: #263238;
}

.viewport {
    width: 100vw;
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

/* Navigation */
nav {
    background: rgba(10,10,10,0.15);
    width: 17vw;
    min-width: 17vw;
    display: flex;
    z-index: 2;
}
    nav .language {
        display: none !important;
    }
    nav .centered {
        flex-grow: 1;
        display: flex;
    }
        nav .centered .logo {
            display: none;
        }

        nav .centered ul {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            nav .centered ul li {
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0;
                position: relative;
            }

                nav .centered ul li:not(.active) {
                }

                nav .centered ul li.active {
                    background: #FFEE58;
                    color: #333;
                }

                nav ul li + li {
                    margin-top: 10px;
                }

                    nav .centered ul li p {
                        display: none;
                    }
                    nav .centered ul li i {
                        font-size: 7vw;
                    }

container {
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}
    container .innerContainer {
    }

        /* Page contact */
        container .innerContainer #nous-contacter {
            margin-bottom: 10px;
        }
            container .innerContainer #nous-contacter .emails {
                margin-bottom: 5px;
            }
                container .innerContainer #nous-contacter .email {
                    background: #37474F;
                    padding: 5px;
                }
                    container .innerContainer #nous-contacter .email h3 {
                        color: #FFF176;
                    }
                    container .innerContainer #nous-contacter .email span {
                        font-size: 14px;
                    }
                container .innerContainer #nous-contacter .email + .email {
                    margin-top: 5px;
                }

            container .innerContainer #nous-contacter .form_map #formulaire {
                display: none;
            }
            container .innerContainer #nous-contacter .form_map #map iframe {
                height: 200px;
            }
            container .innerContainer #nous-contacter .form_map #map #etablissements {
            }
                container .innerContainer #nous-contacter .form_map #map #etablissements .etablissement {
                    background: #37474F;
                    padding: 5px;
                }
                    container .innerContainer #nous-contacter .form_map #map #etablissements .etablissement h3 {
                        color: #FFF176;
                    }
                    container .innerContainer #nous-contacter .form_map #map #etablissements .etablissement span {
                        font-size: 14px;
                    }

                container .innerContainer #nous-contacter .form_map #map #etablissements .etablissement + .etablissement {
                    margin-top: 5px;
                }


        /* Page Nos-services */
        container .innerContainer #services .service {
            display: flex;
            flex-direction: column;
            padding: 10px;
            background: rgba(40,40,40,0.55);
            border: 1px solid #333;
        }
            container .innerContainer #services .service.web {
                border-color: #D4E157;
                color: #D4E157;
                box-shadow: 0px 0px 10px rgba(212,225,87,0.4) inset;
            }
                container .innerContainer #services .service.web p {
                    color: #F0F4C3;
                }
                container .innerContainer #services .service.web .savoir-plus {
                    background: #D4E157;
                    color: #000;
                }

            container .innerContainer #services .service.supervision {
                border-color: #4FC3F7;
                color: #4FC3F7;
                box-shadow: 0px 0px 10px rgba(79,195,247,0.4) inset;
            }
                container .innerContainer #services .service.supervision p {
                    color: #BBDEFB;
                }
                container .innerContainer #services .service.supervision .savoir-plus {
                    background: #4FC3F7;
                    color: #000;
                }

            container .innerContainer #services .service.ERP {
                border-color: #FFB74D;
                color: #FFB74D;
                box-shadow: 0px 0px 10px rgba(255,183,77,0.4) inset;
            }
                container .innerContainer #services .service.ERP p {
                    color: #FFF8E1;
                }
                container .innerContainer #services .service.ERP .savoir-plus {
                    background: #FFB74D;
                    color: #000;
                }

        container .innerContainer #services .service + .service {
            margin-top: 10px;
        }
            container .innerContainer #services .service h2 {
                border: none;
                color: inherit;
                margin-bottom: 10px;
                margin-top: 0;
                font-size: 20px;
            }
            container .innerContainer #services .service h3 {
                margin: 10px 0;
                color: #FFF;
                font-size: 17px;
                font-weight: 600;
            }
            container .innerContainer #services .service p {
                font-size: 15px;
            }
            container .innerContainer #services .service .avatars {
                display: flex;
            }
                container .innerContainer #services .service .avatars .avatar {
                    width: 60px;
                    height: 60px;
                    margin-left: 5px;
                    margin-top: 5px;
                }
                    container .innerContainer #services .service .avatars .avatar img {
                        width: inherit;
                        height: inherit;
                    }

            container .innerContainer #services .service ul {
                display: flex;
                flex-direction: column;
            }
                container .innerContainer #services .service ul li {
                    background: #37474F;
                    padding: 0 10px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                }
                container .innerContainer #services .service ul li + li {
                    margin-top: 5px;
                }

            container .innerContainer #services .service .logos {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
                container .innerContainer #services .service .logos .logo {
                    width: 60px;
                    height: 60px;
                    margin-left: 5px;
                    margin-top: 5px;
                }
                    container .innerContainer #services .service .logos .logo img {
                        width: inherit;
                        height: inherit;
                    }

            container .innerContainer #services .service .savoir-plus {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #37474F;
                height: 30px;
                margin-top: 10px;
                color: #FFF;
                cursor: pointer;
            }

        /* Page Clients */
        container .innerContainer #nos-clients .clients_container {
        }
            container .innerContainer #nos-clients .clients_container .client_inner {
                background: #37474F;
                display: flex;
                flex-direction: column;
                padding: 5px;
            }
            container .innerContainer #nos-clients .clients_container .client_inner + .client_inner {
                margin-top: 10px;
            }
                container .innerContainer #nos-clients .clients_container .client_inner .info {
                }
                    container .innerContainer #nos-clients .clients_container .client_inner .info .logo {
                        display: none;
                    }
                    container .innerContainer #nos-clients .clients_container .client_inner .info h3 {
                        color: #FFEE58;
                    }
                    container .innerContainer #nos-clients .clients_container .client_inner .info p {
                        margin: 7px 0;
                        color: #F0F4C3;
                    }
                    container .innerContainer #nos-clients .clients_container .client_inner .info a {
                        background: #01579B;
                        padding: 0 10px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        color: #FFF;
                        border: 1px solid #039BE5;
                        margin-top: 10px;
                    }

                container .innerContainer #nos-clients .clients_container .client_inner .commerciaux {
                    display: flex;
                    margin-top: 10px;
                }
                    container .innerContainer #nos-clients .clients_container .client_inner .commerciaux h4 {
                        display: none;
                    }
                container .innerContainer #nos-clients .clients_container .client_inner .avatar {
                    width: 60px;
                    height: 60px;
                }
                container .innerContainer #nos-clients .clients_container .client_inner .avatar + .avatar {
                    margin-left: 10px;
                }
                    container .innerContainer #nos-clients .clients_container .client_inner .avatar img {
                        width: inherit;
                        height: inherit;
                    }

        /* Page accueil */
        container .innerContainer #accueil {
            margin-bottom: 10px;
        }
            container .innerContainer #accueil .tuiles {
            }
                container .innerContainer #accueil .tuiles .tuiles_container {
                }
                    container .innerContainer #accueil .tuiles .tuiles_container .news {
                        background: red;
                        display: flex;
                        flex-direction: column;
                        background: rgba(40,40,40,0.6);
                        border: 1px solid rgba(20,20,20,0.8);
                        padding: 10px;
                        transition: background 0.2s linear;
                    }
                        container .innerContainer #accueil .tuiles .tuiles_container .news:hover {
                            background: rgba(40,40,40,0.9);
                            cursor: pointer;
                        }
                        container .innerContainer #accueil .tuiles .tuiles_container .news + .news {
                            margin-top: 10px;
                        }

                        container .innerContainer #accueil .tuiles .tuiles_container .news .titre {
                            display: flex;
                        }
                            container .innerContainer #accueil .tuiles .tuiles_container .news .titre strong {
                                flex-grow: 1;
                            }
                            container .innerContainer #accueil .tuiles .tuiles_container .news .titre span {
                                background: #E91E63;
                                width: 70px;
                                height: 44px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                font-size: 15px;
                            }
                        container .innerContainer #accueil .tuiles .tuiles_container .news .intro {
                            display: flex;
                            margin-top: 5px;
                            color: #F0F4C3;
                            font-size: 15px;
                        }

                    container .innerContainer #accueil .tuiles .tuiles_container .tuile {
                        background: rgba(40,40,40,0.5);
                        border: 1px solid #424242;
                        box-shadow: 0px 0px 10px rgba(20,20,20,0.7);
                        display: flex;
                        padding: 5px;
                        cursor: pointer;
                    }
                    container .innerContainer #accueil .tuiles .tuiles_container .tuile.web {
                        border-color: #D4E157;
                        color: #D4E157;
                        box-shadow: 0px 0px 10px rgba(212,225,87,0.4) inset;
                    }
                    container .innerContainer #accueil .tuiles .tuiles_container .tuile.supervision {
                        border-color: #4FC3F7;
                        color: #4FC3F7;
                        box-shadow: 0px 0px 10px rgba(79,195,247,0.4) inset;
                    }
                    container .innerContainer #accueil .tuiles .tuiles_container .tuile.ERP {
                        border-color: #FFB74D;
                        color: #FFB74D;
                        box-shadow: 0px 0px 10px rgba(255,183,77,0.4) inset;
                    }

                        container .innerContainer #accueil .tuiles .tuiles_container .tuile i {
                            margin: 0 10px;
                        }
                    container .innerContainer #accueil .tuiles .tuiles_container .tuile + .tuile {
                        margin-top: 10px;
                    }

            container .innerContainer #accueil .polychromatic {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                container .innerContainer #accueil .polychromatic h1 {
                    border-bottom: 0px;
                }
                container .innerContainer #accueil .polychromatic p {
                    padding: 10px;
                }
                container .innerContainer #accueil .polychromatic .logo {
                    width: 150px;
                    height: 150px;
                    overflow: hidden;
                }
                    container .innerContainer #accueil .polychromatic .logo img {
                        width: inherit;
                        height: inherit;
                    }

        /* Automarge style */
        container .innerContainer .automarge {
            padding: 10px;
        }
            container .innerContainer .automarge h1 {
                color: #FFEE58;
                border-bottom: 2px solid #FFEE58;
                margin: 10px 0;
            }
            container .innerContainer .automarge h2 {
                color: #F50057;
                border-bottom: 2px solid #F50057;
                margin: 10px 0;
            }
