// out: index.css, sourcemap: false, compress: false

rw = 1000px

body
    background: #263238

@media screen and (max-width: rw)
    .viewport
        flex-direction column

    .centered
        width 80vw

@media screen and (min-width: rw)
    .centered
        height 70vh

.viewport
    width 100vw
    height 100vh
    display flex

.centered
    margin auto
    display flex
    height inherit
    position relative

@media screen and (max-width: rw)
    nav
        height 70px
        min-height 70px
        background rgba(10,10,10,0.3)
        margin-bottom 10px
        align-items center
        box-shadow 0px 0px 5px rgba(150,150,150,0.3)
        min-width: 400px;

        .centered
            height 50px
            min-width 500px !important
            position relative

        .logo
            width 51px
            height 51px
            margin-right 10px
            cursor pointer

            img
                width inherit
                height inherit

        ul
            height 50px
            flex-grow 1

            li
                justify-content center

                i
                    margin-right 0px
                p
                    display none

        .language
            border 1px solid #37474F
            position absolute
            bottom 10px
            right 10px
            width 100px
            height 30px
            display flex
            align-items center
            padding 0 10px

            .one
                display none

            .two
                align-content flex-end
                margin-left auto

            #menu_language
                position absolute
                right 0
                top 29px
                z-index 4
                display none

            &:hover
                cursor pointer
                box-shadow 1px 1px 5px rgba(20,20,20,0.4) inset

                #menu_language
                    display flex

                    .menu
                        display flex
                        flex-direction column
                        min-width 120px
                        background rgba(10,10,10,0.9)
                        box-shadow 0px 0px 5px #37474F
                        margin-top 22px

                        div
                            height 30px
                            padding 0 10px
                            display flex
                            align-items center

                            &:hover
                                background #FFEE58
                                color #000

    nav ul li + li
        margin-left 10px

@media screen and (min-width: rw)
    nav
        width 160px
        min-width 160px
        background rgba(10,10,10,0.15)
        box-shadow 0px 0px 5px #37474F

        .centered
            flex-direction column
            align-items center
            justify-content center

        .logo
            width 100px
            height 100px
            margin-bottom 10px
            cursor pointer

            img
                width inherit
                height inherit

        ul
            flex-direction column
            height inherit
            position relative

            li
                min-height 30px
                position relative

                i
                    display none !important

        .language
            border 1px solid #37474F
            position absolute
            bottom 10px
            left 10px
            width calc(100% - 20px)
            height 30px
            display flex
            align-items center
            padding 0 10px

            .two
                display none

            #menu_language
                width 200px
                position absolute
                left 139px
                bottom -2px
                z-index 4
                display none

            &:hover
                cursor pointer
                box-shadow 1px 1px 5px rgba(20,20,20,0.4) inset

                #menu_language
                    display flex

                    .menu
                        display flex
                        flex-direction column
                        margin-left 20px
                        min-width 120px
                        background rgba(10,10,10,0.9)
                        box-shadow 0px 0px 5px #37474F

                        div
                            height 30px
                            padding 0 10px
                            display flex
                            align-items center

                            &:hover
                                background #FFEE58
                                color #000

            p
                align-content flex-end
                margin-left auto

            i
                align-content flex-end
                margin-left 20px

    nav ul li + li
        margin-top 10px

// Navigation
nav
    display flex
    position relative
    z-index 10
    -webkit-user-select none
    user-select none

    ul
        display flex
        position inherit

        li
            color #EC407A
            display flex
            align-items center
            position inherit
            padding 0 10px

            &.active
                color #000

            &::after
                width 100%
                content " "
                display flex
                position absolute
                left 0
                bottom 0
                transition height 0.15s linear, color 0.2s linear
                z-index -1

            &.active::after
                height 100%
                background #FFEE58

        li:not(.active)::after
            height 2px
            background #EC407A
        li:not(.active):hover::after
            height 100%

        li:not(.active):hover
            color #FFF
            cursor pointer



// Main container
container
    position relative
    display flex
    flex-direction column
    flex-grow 1
    color #333
    z-index 9
    margin 10px

    // InnerContainer (fix angular Animation)
    .innerContainer
        flex-grow 1
        display flex
        flex-direction column

        .automarge
            margin auto
            display flex
            flex-grow 1
            flex-direction column
            flex-basis 200px
            overflow auto
            padding-right 10px
            color #FFF

            @media screen and (min-width rw)
                width 80vw

            @media screen and (max-width rw)
                width 90vw

            @media screen and (min-width rw) and (min-height 800px)
                justify-content center

            hr
                width 100%
                height 2px
                border none
                background #37474F

        #accueil
            color #FFF

            .automarge
                flex-direction row
                flex-wrap wrap

                .polychromatic, .tuiles
                    flex 1 0 270px
                    display flex

                    h1
                        text-align left
                        margin-bottom 12px
                        margin-top 10px
                        color #E91E63
                        font-size 22px
                        text-shadow 0px 0px 2px #212121
                        user-select none
                        flex-shrink 0

                .polychromatic
                    padding 20px
                    flex-direction column
                    align-items center

                    @media screen and (min-width rw) and (min-height 800px)
                        justify-content center

                    .logo
                        min-width 250px
                        min-height 250px
                        display flex
                        justify-content center
                        align-items center

                        img
                            width inherit
                            height inherit
                    h1
                        color #FFEE58
                        font-size 34px
                        width 100%

                    p
                        width 100%
                        margin-top 10px
                        text-align justify
                        display flex

                .tuiles
                    flex-direction column
                    flex-grow 2

                    @media screen and (min-width rw) and (min-height 800px)
                        justify-content center

                    .tuiles_container
                        display flex
                        flex-wrap wrap
                        margin-left -10px
                        margin-top -10px
                        flex-shrink 0

                        .tuile
                            flex 1 0 160px
                            margin-left 10px
                            margin-top 10px
                            height 120px
                            flex-direction column
                            background rgba(40,40,40,0.5)
                            border 1px solid #424242
                            display flex
                            justify-content center
                            align-items center
                            padding 10px
                            box-shadow 0px 0px 10px #000
                            position relative
                            cursor pointer

                            &.web
                                border-color #D4E157
                                color #D4E157
                                box-shadow 0px 0px 10px rgba(212,225,87,0.4) inset

                            &::after
                                content ""
                                height 0px
                                width 100%
                                position absolute
                                left 0
                                bottom 0
                                transition height 0.2s ease-in-out, background 0.2s ease-in-out

                            &.web:hover::after
                                background #D4E157
                                width calc(100% - 20px)
                                height calc(100% - 20px)
                                color #333
                                content "Développement de site vitrine et site dynamique!"
                                padding 10px

                            &.supervision
                                border-color #4FC3F7
                                color #4FC3F7
                                box-shadow 0px 0px 10px rgba(79,195,247,0.4) inset

                            &.supervision:hover::after
                                background #4FC3F7
                                width calc(100% - 20px)
                                height calc(100% - 20px)
                                color #333
                                content "Supervision et Hypervision de parc informatique avec CA nimsoft ou autres!"
                                padding 10px

                            &.ERP
                                border-color #FFB74D
                                color #FFB74D
                                box-shadow 0px 0px 10px rgba(255,183,77,0.4) inset

                            &.ERP:hover::after
                                background #FFB74D
                                width calc(100% - 20px)
                                height calc(100% - 20px)
                                color #333
                                content "Gestion ERP et CRM pour votre entreprise!"
                                padding 10px

                            i
                                font-size 35px
                                font-size calc(100% + 2.4vw)

                            p
                                margin-top 5px

                        .news
                            flex 1 0 240px
                            margin-left 10px
                            margin-top 10px
                            min-height 120px
                            background rgba(40,40,40,0.6)
                            border 1px solid rgba(20,20,20,0.8)
                            padding 10px
                            transition background 0.2s linear

                            &:hover
                                background rgba(40,40,40,0.9)
                                cursor pointer

                            .titre
                                display flex

                                strong
                                    color #FFF176
                                    flex-grow 1
                                    display flex
                                    flex-wrap wrap
                                    flex-basis 180px
                                    text-align justify
                                    align-items center

                                span
                                    background #F50057
                                    color #FFF
                                    margin-left 10px
                                    width 60px
                                    height 40px
                                    display flex
                                    flex-direction column
                                    justify-content center
                                    align-items center
                                    font-weight bold
                                    font-size 14px
                                    flex-shrink 0

                            .intro
                                margin-top 10px
                                flex-grow 1
                                font-size 14px
                                color #CFD8DC

        #accueil, #notre-equipe
            display flex
            flex-grow 1
            flex-direction column
            align-items center
            flex-basis 400px
            margin-bottom 30px

        #nos-clients
            display flex
            flex-grow 1
            flex-direction column
            align-items center
            flex-basis 400px

            h1
                text-align left
                border-bottom 2px solid #E91E63
                margin-bottom 10px
                color #E91E63
                font-size 22px
                font-size calc(100% + 3.5vw)
                text-shadow 0px 0px 7px #212121
                user-select none
                flex-shrink 0

            h2
                text-align left
                margin-bottom 10px
                margin-top 10px
                color #E91E63
                font-size 22px
                text-shadow 0px 0px 7px #212121
                user-select none
                flex-shrink 0

            .clients_container
                margin-left -10px
                margin-top -10px
                flex-wrap wrap
                display flex
                justify-content center
                flex-shrink 0

                .client_inner
                    margin-left 10px
                    margin-top 10px
                    background #37474F
                    display flex
                    flex-grow 1
                    min-height 200px
                    padding 10px
                    flex-basis 300px
                    flex auto

                    .info
                        flex-grow 1
                        display flex
                        flex-direction column

                        .logo
                            width 100px
                            height 100px
                            margin-bottom 10px
                            background orange
                            overflow hidden

                            img
                                width inherit
                                height inherit

                        h3
                            font-size 22px
                            color #FFEE58
                            font-size 20px
                            text-shadow 0px 0px 7px rgba(20,20,20,0.6)

                        p
                            color #FFF
                            font-size 14px
                            text-shadow 0px 0px 7px rgba(20,20,20,0.3)
                            margin 5px 0

                        a
                            font-size 14px
                            padding 5px
                            background #263238
                            margin-top auto
                            align-content flex-end
                            color #03A9F4

                    .commerciaux
                        width 120px
                        min-width 120px
                        margin-left 10px
                        display flex
                        flex-direction column
                        align-items center

                        .avatar
                            width 110px
                            height 110px
                            margin-top 10px

                            img
                                width inherit
                                height inherit

                & + h2
                    margin-top 10px

        #nos-services
            display flex
            flex-grow 1
            flex-direction column
            align-items center
            justify-content center
            overflow hidden
            flex-basis 400px
            margin-bottom 30px

            h1
                text-align left
                border-bottom 2px solid #E91E63
                margin-bottom 10px
                color #E91E63
                font-size 22px
                font-size calc(100% + 3.5vw)
                text-shadow 0px 0px 7px #212121
                user-select none
                flex-shrink 0

            #services
                margin-left -10px
                margin-top -10px
                display flex
                flex-wrap wrap

                .service
                    margin-left 10px
                    margin-top 10px
                    min-height 200px
                    flex 1 0 250px
                    background rgba(40,40,40,0.55)
                    border 1px solid #333
                    display flex
                    flex-direction column
                    box-shadow 0px 0px 10px #000
                    padding 10px

                    & > h3
                        color #FFF
                        margin-bottom 10px

                    & > p
                        margin 10px 0

                    & > .logos
                        display flex
                        flex-wrap wrap
                        margin-top -5px
                        margin-left -5px
                        justify-content center
                        margin-bottom 10px

                        .logo
                            flex-basis 80px
                            height 80px
                            margin-left 5px
                            margin-top 5px

                            img
                                width inherit
                                height inherit

                    & > ul
                        display flex
                        flex-wrap wrap
                        margin-top -5px
                        margin-left -5px
                        margin-bottom 10px

                        li
                            flex 1 0 170px
                            min-height 30px
                            background #37474F
                            display flex
                            align-items center
                            padding 0 10px
                            margin-left 5px
                            margin-top 5px

                    .savoir-plus
                        height 30px
                        background purple
                        color #000
                        cursor pointer
                        display flex
                        align-items center
                        justify-content center
                        align-content flex-end
                        margin-top auto

                    .avatars
                        display flex
                        margin-left -10px
                        margin-top -10px
                        flex-wrap wrap
                        margin-bottom 10px

                        .avatar
                            flex 0 0 80px
                            height 80px
                            margin-left 10px
                            margin-top 10px

                            img
                                width inherit
                                height inherit

                    &.web
                        border-color #D4E157
                        color #D4E157
                        box-shadow 0px 0px 10px rgba(212,225,87,0.4) inset

                        p
                            color #F0F4C3

                        .savoir-plus
                            background #D4E157

                    &.supervision
                        border-color #4FC3F7
                        color #4FC3F7
                        box-shadow 0px 0px 10px rgba(79,195,247,0.4) inset

                        .savoir-plus
                            background #4FC3F7

                    &.ERP
                        border-color #FFB74D
                        color #FFB74D
                        box-shadow 0px 0px 10px rgba(255,183,77,0.4) inset

                        .savoir-plus
                            background #FFB74D

        // Nous-contacter - PAGE
        #nous-contacter
            display flex
            flex-grow 1
            flex-direction column
            align-items center
            justify-content center
            overflow hidden
            flex-basis 400px
            margin-bottom 30px

            h1
                text-align left
                border-bottom 2px solid #E91E63
                margin-bottom 10px
                color #E91E63
                font-size 22px
                font-size calc(100% + 3.5vw)
                text-shadow 0px 0px 7px #212121
                user-select none
                flex-shrink 0

            h2
                text-align left
                margin-bottom 10px
                margin-top 10px
                color #E91E63
                font-size 22px
                text-shadow 0px 0px 7px #212121
                user-select none
                flex-shrink 0

            .form_map
                flex-basis 400px
                margin-bottom 50px
                margin-top 10px

                #formulaire, #map
                    margin-left 10px
                    margin-top 10px
                    flex 1 0 300px
                    user-select none

                #formulaire
                    display flex
                    flex-direction column

                    form
                        display flex
                        flex-direction column

                #map
                    display flex
                    flex-direction column

                    iframe
                        width 100%
                        margin-bottom 5px
                        box-shadow 2px 2px 5px rgba(20,20,20,0.2)

                        @media screen and (max-width rw)
                            min-height 250px
                            max-height 250px

                        @media screen and (min-width rw)
                            min-height 300px
                            max-height 300px

                    #etablissements
                        margin-left -10px
                        margin-top -10px
                        display flex
                        flex-wrap wrap

                        .etablissement
                            flex-grow 1
                            background #37474F
                            margin-left 10px
                            margin-top 10px
                            padding 10px
                            box-shadow 2px 2px 5px rgba(20,20,20,0.2)

                            h3
                                font-size 22px
                                color #FFEE58
                                font-size 20px
                                text-shadow 0px 0px 7px rgba(20,20,20,0.6)

                            span
                                color #FFF
                                font-size 14px
                                text-shadow 0px 0px 7px rgba(20,20,20,0.3)

            .emails
                flex-shrink 0

                @media screen and (max-width 1000px)
                    .email
                        flex-grow 1

                .email
                    background #37474F
                    margin-left 10px
                    margin-top 10px
                    display flex
                    flex-direction column
                    flex-shrink 0
                    min-height 0
                    position relative
                    transition background 0.2s linear
                    box-shadow 2px 2px 5px rgba(20,20,20,0.2)

                    &:hover
                        cursor pointer
                        background #455A64

                    a
                        padding 10px
                        display flex
                        flex-direction column

                    h3
                        font-size 22px
                        color #FFEE58
                        font-size 20px
                        text-shadow 0px 0px 7px rgba(20,20,20,0.6)

                    span
                        color #FFF
                        font-size 14px
                        text-shadow 0px 0px 7px rgba(20,20,20,0.3)

            .emails, .fiches, .form_map
                margin-left -10px
                margin-top -10px
                flex-wrap wrap
                display flex

                .fiche.reverse
                    flex-direction row-reverse

                    .photo
                        border-left 1px solid #CCC
                        border-right 0px

                    .description
                        direction rtl

                        ul
                            margin-right 40px
                            margin-left 0
